:root {
  --main-text-color: #757575;
  --accent-color-blue: #2196f3;
  --text-white-color: #ffffff;
  --color-head-link-title: #212121;
  --border-header: #ececec;
  --hero-background-color: #2f303a;
  /*#C4C4C4*/
  --hero-btn-hover: #188ce8;
  --work-examples-border: #eeeeee;
  --background-grey-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --icon-header-color: #757575;
  --icon-social-color: #afb1b8;
  --hero-gradient-color: rgba(47, 48, 58, 0.4);
  --footer-social-link-color: rgba(255, 255, 255, 0.1);
  --just-black: #000000;
  --text-main-font: Roboto, sans-serif;
  --text-logo-font: Raleway, sans-serif;
  --card-set-gap: 30px;
  --hover-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.visualli-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--text-main-font);
  font-weight: 400;
  font-size: 14px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.services {
  padding-top: 0;
}

.section.team {
  background-color: var(--background-grey-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-head-link-title);
}

.thumb {
  position: relative;
  width: 100%;
  height: 294px;
}

.logo {
  display: inline-block;
  font-family: var(--text-logo-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.193;
  letter-spacing: 0.03em;
}

.logo > .logo__decor {
  color: var(--accent-color-blue);
}

.logo.header-logo {
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--color-head-link-title);
}

.logo.footer-logo {
  margin-bottom: 20px;
  color: var(--text-white-color);
}

.button {
  display: block;
  min-width: 200px;
  padding: 8px 30px;
  color: var(--text-white-color);
  background-color: var(--accent-color-blue);
  font-family: var(--text-main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  letter-spacing: 0.06em;
  border: 2px solid transparent;
  border-radius: 4px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button.hero__btn, .button.modal-form__btn {
  margin-left: auto;
  margin-right: auto;
}

.button.footer-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 26px 8px 26px;
}

.button:hover, .button:focus {
  background-color: var(--hero-btn-hover);
}

/* =========== SOCIAL========== */
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-white-color);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link.footer-social {
  background-color: var(--footer-social-link-color);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color-blue);
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-social-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: currentColor;
}

/* ============ HEADER ============ */
.header {
  height: 80px;
  border-bottom: 1px solid var(--border-header);
}

.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.nav-list__item:not(:last-child) {
  position: relative;
  margin-right: 50px;
}

.navigation__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 31px;
  color: var(--color-head-link-title);
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link.page {
  color: var(--accent-color-blue);
}

.navigation__link.page::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color-blue);
  border-radius: 2px;
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color-blue);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 31px;
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color-blue);
}

.contacts__icon {
  margin-right: 10px;
  fill: var(--icon-header-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover > .contacts__icon,
.contacts__link:focus > .contacts__icon {
  fill: var(--accent-color-blue);
}

.contacts__icon.mail {
  width: 16px;
  height: 12px;
}

.contacts__icon.phone {
  width: 12px;
  height: 16px;
}

/* ============ HERO ============ */
.hero {
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--hero-background-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-gradient-color)), to(var(--hero-gradient-color))), url("../img/hero-optim.jpg");
  background-image: linear-gradient(var(--hero-gradient-color), var(--hero-gradient-color)), url("../img/hero-optim.jpg");
}

.hero__title {
  max-width: 695px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  color: var(--text-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* ============ ADVANTAGES ============ */
.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages-list__item {
  max-width: 270px;
}

.advantages-list__item:not(:last-child) {
  margin-right: 30px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--background-grey-color);
}

.box__icon {
  height: 70px;
  width: 70px;
}

.advantages-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-head-link-title);
}

.advantages-list__text {
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* ============ END ADVANTAGES ============ */
/* ============ SERVICES ============ */
.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-list__item {
  width: 370px;
}

.services-list__item:not(:last-child) {
  margin-right: 30px;
}

.thumb__img {
  width: 100%;
  height: 100%;
}

.thumb__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white-color);
}

/* ============ TEAM ============ */
.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-list__item {
  background-color: var(--text-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__item:not(:last-child) {
  margin-right: 30px;
}

.team-card {
  max-width: 270px;
  padding-top: 30px;
  padding-right: 32px;
  padding-bottom: 30px;
  padding-left: 32px;
}

.team-card__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-head-link-title);
}

.team-card__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* ============ OUR CLIENTS ============ */
.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients-list__item {
  width: 170px;
  height: 90px;
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-social-color);
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border: 1px solid var(--accent-color-blue);
}

.clients-link__icon {
  fill: var(--icon-social-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-link__icon,
.clients-link:focus .clients-link__icon {
  fill: var(--accent-color-blue);
}

/* ============ FOOTER ============ */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-background-color);
}

.footer > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer .contacts-box {
  margin-right: 70px;
}

.footer .social-box {
  margin-right: 93px;
}

.footer .form-box {
  margin-left: auto;
}

.footer-contacts__address {
  width: 231px;
  margin-bottom: 9px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-white-color);
}

.footer-contacts-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__link {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--accent-color-blue);
}

.footer-appeal {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white-color);
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 14px 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--text-white-color);
}

.footer-form__input::-webkit-input-placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input:-ms-input-placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::-ms-input-placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__icon {
  margin-left: 10px;
}

/* ============ MODAL ============ */
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 1024px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--text-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--text-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-close__icon {
  fill: var(--just-black);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-close__icon,
.modal-close:focus .modal-close__icon {
  fill: var(--accent-color-blue);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-head-link-title);
}

.modal-form__box {
  /*display: flex;
  flex-direction: column;*/
  position: relative;
  margin-bottom: 10px;
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--icon-header-color);
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  /* bottom: 34%;
  transform: translateY(50%); */
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:hover + .modal-form__icon,
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color-blue);
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:hover, .modal-form__input:focus {
  outline: none;
  border: 1px solid var(--accent-color-blue);
}

.textarea-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--icon-header-color);
}

.comment {
  width: 100%;
  height: 120px;
  padding: 11px 16px 11px 16px;
  margin-top: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus {
  outline: none;
  border: 1px solid var(--accent-color-blue);
}

.comment::-webkit-input-placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment:-ms-input-placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment::-ms-input-placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment::placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
  font-size: inherit;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.consent-input:focus + .checkbox-label, .checkbox-label:hover {
  cursor: pointer;
}

.checkbox-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--color-head-link-title);
  border-radius: 2px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label::before:hover {
  cursor: pointer;
}

.consent-input:checked + .checkbox-label::before {
  border-color: transparent;
  background-color: var(--accent-color-blue);
  background-image: url(../img/checked.svg);
  background-size: cover;
  background-origin: border-box;
}

.consent-input:focus + .checkbox-label::before {
  outline: 1px solid var(--accent-color-blue);
  cursor: pointer;
}

.checkbox-label > a {
  color: var(--accent-color-blue);
}

.logo {
  display: inline-block;
  font-family: var(--text-logo-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.193;
  letter-spacing: 0.03em;
}

.logo > .logo__decor {
  color: var(--accent-color-blue);
}

.logo.header-logo {
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--color-head-link-title);
}

.logo.footer-logo {
  margin-bottom: 20px;
  color: var(--text-white-color);
}

.button {
  display: block;
  min-width: 200px;
  padding: 8px 30px;
  color: var(--text-white-color);
  background-color: var(--accent-color-blue);
  font-family: var(--text-main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  letter-spacing: 0.06em;
  border: 2px solid transparent;
  border-radius: 4px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button.hero__btn, .button.modal-form__btn {
  margin-left: auto;
  margin-right: auto;
}

.button.footer-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 26px 8px 26px;
}

.button:hover, .button:focus {
  background-color: var(--hero-btn-hover);
}

/* =========== SOCIAL========== */
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-white-color);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link.footer-social {
  background-color: var(--footer-social-link-color);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color-blue);
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-social-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: currentColor;
}

/* ============ HEADER ============ */
.header {
  height: 80px;
  border-bottom: 1px solid var(--border-header);
}

.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.nav-list__item:not(:last-child) {
  position: relative;
  margin-right: 50px;
}

.navigation__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 31px;
  color: var(--color-head-link-title);
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link.page {
  color: var(--accent-color-blue);
}

.navigation__link.page::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color-blue);
  border-radius: 2px;
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color-blue);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 31px;
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color-blue);
}

.contacts__icon {
  margin-right: 10px;
  fill: var(--icon-header-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover > .contacts__icon,
.contacts__link:focus > .contacts__icon {
  fill: var(--accent-color-blue);
}

.contacts__icon.mail {
  width: 16px;
  height: 12px;
}

.contacts__icon.phone {
  width: 12px;
  height: 16px;
}

/* ============ PORFOLIO ============ */
.portfolio {
  padding-top: 90px;
  padding-bottom: 90px;
}

/* ============ BUTTON-NAVIGATION ============ */
.portfolio-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 50px;
}

.portfolio-nav__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-nav__btn {
  display: inline-block;
  min-width: 73px;
  padding: 4px 20px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--color-head-link-title);
  background: var(--background-grey-color);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-nav__btn:focus, .portfolio-nav__btn:hover {
  color: var(--text-white-color);
  background-color: var(--accent-color-blue);
  border-radius: 4px;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ============ WORK EXAMPLES ============ */
.work-list {
  margin-right: calc(-1 * var(--card-set-gap));
  margin-bottom: calc(-1 * var(--card-set-gap));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work-list__item {
  -ms-flex-preferred-size: calc(100% / 3 - var(--card-set-gap));
      flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-right: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);
  border: 1px solid var(--work-examples-border);
}

.work-examples-card {
  display: block;
  width: 100%;
  height: 404px;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-examples-card > .thumb {
  overflow: hidden;
}

.work-examples-card:hover, .work-examples-card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.hover-text {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--text-white-color);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-examples-card:hover .hover-text,
.work-examples-card:focus .hover-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.img-description {
  width: 100%;
  padding: 20px 24px;
}

.img-description__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-head-link-title);
}

.img-description__text {
  font-size: 16px;
  line-height: 1.875;
  color: var(--main-text-color);
}

/* ============ FOOTER ============ */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-background-color);
}

.footer > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer .contacts-box {
  margin-right: 70px;
}

.footer .social-box {
  margin-right: 93px;
}

.footer .form-box {
  margin-left: auto;
}

.footer-contacts__address {
  width: 231px;
  margin-bottom: 9px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-white-color);
}

.footer-contacts-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__link {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--accent-color-blue);
}

.footer-appeal {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white-color);
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 14px 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--text-white-color);
}

.footer-form__input::-webkit-input-placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input:-ms-input-placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::-ms-input-placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__icon {
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */