.button {
  display: block;
  min-width: 200px;
  padding: 8px 30px;

  color: var(--text-white-color);
  background-color: var(--accent-color-blue);
  font-family: var(--text-main-font);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  letter-spacing: 0.06em;
  border: 2px solid transparent;
  border-radius: 4px;

  @include transition(background-color);

  &.hero__btn,
  &.modal-form__btn {
    margin-left: auto;
    margin-right: auto;
  }

  &.footer-form__btn {
    @include flex($jc: center);
    padding: 8px 26px 8px 26px;
  }

  &:hover,
  &:focus {
    background-color: var(--hero-btn-hover);
  }
}
