/* ============ HEADER ============ */
.header {
  height: 80px;
  border-bottom: 1px solid var(--border-header);
}

.header > .container {
  @include flex;
  // display: flex;
  // align-items: center;
}

.navigation {
  @include flex;
  // display: flex;
  // align-items: center;
}

.nav-list {
  display: flex;
  margin-left: 93px;
}

.nav-list__item {
  &:not(:last-child) {
    position: relative;
    margin-right: 50px;
  }
}

.navigation__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 31px;

  color: var(--color-head-link-title);
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;

  @include transition(color);
  // transition: color 250ms var(--hover-cubic);

  &.page {
    color: var(--accent-color-blue);

    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";

      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color-blue);
      border-radius: 2px;
    }
  }

  &:hover,
  &:focus {
    color: var(--accent-color-blue);
  }
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__link {
  @include flex($df: inline-flex);
  // display: inline-flex;
  // align-items: center;
  padding-top: 32px;
  padding-bottom: 31px;

  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;

  @include transition(color);
  // transition: color 250ms var(--hover-cubic);

  &:hover,
  &:focus {
    color: var(--accent-color-blue);
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: var(--icon-header-color);

  @include transition(fill);
  // transition: fill 250ms var(--hover-cubic);

  .contacts__link:hover > &,
  .contacts__link:focus > & {
    fill: var(--accent-color-blue);
  }

  &.mail {
    width: 16px;
    height: 12px;
  }
  &.phone {
    width: 12px;
    height: 16px;
  }
}
