/* ============ HEADER ============ */
.header {
  height: 60px;
  border-bottom: 1px solid var(--border-header);
  @media screen and (min-width: 768px) {
    height: 80px;
  }
}

.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }

  .contacts.list {
    display: none;
  }
  .burger-btn {
    border: none;
    background-color: transparent;
    padding: 0;
  }

  .burger-icon {
    width: 40px;
    height: 40px;
    @include transition(fill);

    .burger-btn:hover > &,
    .burger-btn:focus > & {
      fill: var(--accent-color-blue);
    }
  }
}

@media screen and (min-width: 768px) {
  .burger-btn,
  .mobile-menu {
    display: none;
  }
}

.navigation {
  @media screen and (min-width: 768px) {
    @include flex;
  }
}

.nav-list {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.nav-list__item {
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      position: relative;
      margin-right: 50px;
    }
  }
}

.navigation__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--color-head-link-title);
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;

  @include transition(color);

  &.page {
    color: var(--accent-color-blue);

    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";

      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color-blue);
      border-radius: 2px;
    }
  }

  &:hover,
  &:focus {
    color: var(--accent-color-blue);
  }
}

.contacts {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.contacts__item {
  @media screen and (min-width: 768px) {
    &:first-child {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:first-child {
      margin-bottom: 0;
      margin-right: 50px;
    }
  }
}
.contacts__link--mail {
  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 0;
  }
}

.contacts__link--tel {
  @media screen and (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 21px;
  }
}

.contacts__link--mail,
.contacts__link--tel {
  @media screen and (min-width: 768px) {
    @include flex($df: inline-flex);
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.02em;

    @include transition(color);
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 31px;
    font-size: 14px;
    line-height: 1.143;
  }

  &:hover,
  &:focus {
    color: var(--accent-color-blue);
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: var(--icon-header-color);

  @include transition(fill);

  .contacts__link:hover > &,
  .contacts__link:focus > & {
    fill: var(--accent-color-blue);
  }

  &.mail {
    @media screen and (min-width: 768px) {
      width: 14px;
      height: 10px;
    }
    @media screen and (min-width: 1200px) {
      width: 16px;
      height: 12px;
    }
  }
  &.phone {
    @media screen and (min-width: 768px) {
      width: 10px;
      height: 14px;
    }
    @media screen and (min-width: 1200px) {
      width: 12px;
      height: 16px;
    }
  }
}
