.mobile-menu {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 77;
  width: 100%;
  max-width: 767px;
  height: 100vh;
  max-height: 796px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transform: translateX(-50%) translateY(-100%);
  overflow: scroll;
  padding: 40px 48px;
  background-color: #ffffff;
  @include transition(transform);
}

.mobile-menu.is-open {
  transform: translateX(-50%) translateY(0%);
}

.mobile-menu-close {
  position: fixed;
  top: 10px;
  right: 15px;
  z-index: 80;

  width: 40px;
  height: 40px;
  border-color: transparent;

  border: none;
  background-color: transparent;
  padding: 0;

  &:hover,
  &:focus {
    outline-color: transparent;
  }
}
.mobile-menu-close__icon {
  @include transition(fill);

  .mobile-menu-close:hover > &,
  .mobile-menu-close:focus > & {
    fill: var(--accent-color-blue);
  }
}

.mobile-nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--color-head-link-title);

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mobile-nav-link.page {
  color: var(--accent-color-blue);
  margin-bottom: 35px;
}

.mobile-contacts-list {
  margin-bottom: 64px;
}

.mobile-contacts-list__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-contacts__link--tel {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: var(--accent-color-blue);

  @media screen and (min-width: 400px) {
    font-size: 34px;
    line-height: 1.176;
  }
}

.mobile-contacts__link--mail {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.167;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
  @media screen and (min-width: 400px) {
    font-size: 24px;
    line-height: 1.167;
  }
}

.mobile-social-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.mobile-social-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: var(--accent-color-blue);
  @media screen and (min-width: 460px) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.stick {
  display: block;
  background-color: rgba(33, 33, 33, 0.2);
  width: 18px;
  height: 1.5px;
  transform: rotate(90deg);

  @media screen and (min-width: 460px) {
    width: 22px;
    height: 2px;
  }
}
