/* ============ SERVICES ============ */

.services-list {
  display: flex;
}

.services-list__item {
  width: 370px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.thumb__img {
  width: 100%;
  height: 100%;
}

.thumb__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 70px;

  @include flex($jc: center);
  // display: flex;
  // justify-content: center;
  // align-items: center;

  background: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-white-color);
}
