/* ============ ADVANTAGES ============ */

.advantages-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.advantages-list__item {
  @media screen and (max-width: 767px) {
    max-width: 450px;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 120px) / 4);
  }
}

.box {
  @include flex($jc: center);
  width: 100%;
  height: 120px;
  margin-bottom: 30px;

  border-radius: 4px;
  background-color: var(--background-grey-color);
}

.box__icon {
  height: 70px;
  width: 70px;
}

.advantages-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-head-link-title);

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.advantages-list__text {
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
