@mixin transition($tp) {
  transition-property: $tp;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

// @include transition(color);
// @include transition(background-color);
// @include transition(border-color);

@mixin flex($df: flex, $jc: start, $ai: center) {
  display: $df;
  justify-content: $jc;
  align-items: $ai;
}

// @include flex();
// @include flex($jc: center);
// @include flex($ai: baseline);
// @include flex($df: inline-flex);
